body {
    font: 20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #0ca4d2;
}

p {
    margin: 20px 0 0;
}

h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
}

h4 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
}

/* BLOCKS */
.watering, 
.slider,
.action_settings,
.option,
.action_main,
.login,
.addSlave,
.action_add,
.position
{
    position: relative;
    margin: 30px auto;
    padding: 20px 20px 20px;
    background: white;
    border-radius: 10px;
}

.watering, 
.slider,
.action_settings,
.position{
    font-size: 17px;
    width: 450px;
}

.option,
.login{
    width: 310px;
}


.addSlave,
.action_add {
    width: 410px; 
}

.action_main {
    padding: 0px 20px 20px;
    width: 310px;
}
/* BLOCKS */


/* SUBMIT*/
input[type=submit] {
    height: 30px;
    width: 278px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    padding: 0 18px;
}

.watering input[type=submit], 
.slider input[type=submit],
.action_settings input[type=submit],
.position input[type=submit]{
    width: 400px;
    text-align: center;
    height: 30px;
    font-size: 12px;
}

.option input[type=submit]{
    text-align: left;
    height: 35px;
    font-size: 15px;
}

.action_main input[type=submit]{
    text-align: left;
    height: 30px;
    font-size: 12px;
}

.addSlave input[type=submit]{
    width: 370px;
    text-align: left;
    height: 35px;
    font-size: 15px;
}

.action_add input[type=submit]{
    width: 370px;
    text-align: left;
    height: 30px;
    font-size: 12px;
}


/* SUBMIT */

.addSlave input[type=radio]{
    text-align: left;
    height: 15px;
    font-size: 15px;
}

/* SLIDER */
.slider input[type=range]{
    width:400px;
}

/* LOGIN PAGE */

input[type=text], input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 278px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
}

.login p.remember_me {
    float: left;
    line-height: 31px;
}

.login p.remember_me label {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}
  
.login p.remember_me input {
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
}


.position input[type=number]{
    width:50%;
    text-align: right;
    height: 25px;
    float: right;
    font-size:medium;
}

.watering label{
    cursor: pointer;
}